################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChessOOP/FileContentIndex/3b65ccaa-f597-4763-a265-ee2ffc3bba3b.vsidx
/.vs/ChessOOP/FileContentIndex/84a2e68c-a443-42e9-93a7-5fb741907e32.vsidx
